.site-foot {
    margin: 42px 0px 42px;
    border-top: 2px solid var(--color-bor);
    text-align: left;
    font-size: 0.8rem;
}

.site-foot .fcolumns {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    margin: 32px 0 0;
}

.site-foot .fcolumns #qrcode>div {
    margin-left: 4px;
    @media (max-width: 412px) {
        margin-left:0
    }
}

.site-foot .fcolumns #info {
    margin-right: 100px;
}

@media (prefers-color-scheme: dark) {
    #qrcode>.qrcode-light {
        display:none
    }
}

@media (prefers-color-scheme: light) {
    #qrcode>.qrcode-dark {
        display:none
    }
}

.badges {
    border-top: 2px solid var(--color-bor);
    margin: 32px 0 0;
    /* display: flex; */
}

.square-badge {
    margin: 42px 0 0;
    height: 34px;
    width: 34px;
}

.rec-badge {
    margin: 42px 0 0;
    height: 34px;
    width: 88px;
}
