header {
    font-size: 1rem;
    align-items: center;
    display: block;
    border-bottom: 2px solid var(--color-bor);
    margin-bottom: 70px;
    grid-template-columns: 1fr auto 1fr;
}

@media (max-width: 500px) {
    ul.navigation {
        -moz-column-count:2;
        column-count: 2;
    }
}

@media (min-width: 500px) {
    ul.navigation {
        -moz-column-count:3;
        column-count: 3;
    }
}

@media (min-width: 700px) {
    ul.navigation {
        -moz-column-count:4;
        column-count: 4;
    }
}

ul.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 42px;
}

ul.navigation>li {
    display: block;
    margin-bottom: 4px;
}

ul.navigation>li>a {
    display: block;
    unicode-bidi: isolate;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-style: solid;
    text-decoration-skip-ink: all;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

ul.navigation>li>a.active {
    background-color: var(--color-a);
    border-color: transparent;
    color: var(--color-bg);
}

/* LOGO */

.logo-container {
  border-bottom: none;
  margin-left: -12px;
  display: block;
  height: 82px;
  width: 82px;
  position: relative;
}

.logo-container:hover {
    background-color: transparent;
}
