@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #333333;
        --color-a: var(--color-primary);
        --color-code: var(--color-primary);
        --color-bg: #ffffff;
        --color-bor: #b8b8b8;
        --color-bigcode: #d3d3d3;
        --color-quote: #2960A0;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #e0e0e0;
        --color-a: var(--color-primary);
        --color-code: var(--color-primary);
        --color-bg: #0a0a0a;
        --color-bor: #333333;
        --color-bigcode: #000000;
        --color-quote: #a63d3d;
    }
}

/* GENERAL VARIABLES */

:root {
    --font: "JetbrainsMono Nerd Font", monospace;
    --font-code: "TX-02", monospace;
    --radius: 4px;
    --logo: url('/images/favicon.png');
    --font-light: 200;
    --font-normal: 400;
    --font-bold: 600;
    --font-heavy: 700;
}
