@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #333333;
        --color-bg: #f7f3e9;
        --color-a: #e0a96d;
        --color-bor: #b8b8b8;
        --color-code: #d3d3d3;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #cdd6f4;
        --color-bg: #1a1b26;
        --color-a: #a78bfa;
        --color-bor: #3b4261;
        --color-code: #3c3c42;
    }
}


/* GENERAL VARIABLES */
:root {
    --font: "JetbrainsMono Nerd Font", "Hack Nerd Font", "SF Mono", 
            "Monaco", "Cascadia Code", "Roboto Mono", "Fira Code", 
            "Source Code Pro", "Consolas", "Menlo", "DejaVu Sans Mono", 
            "Ubuntu Mono", "Courier New", monospace;
    --radius: 4px;
    --color-a: var(--color-primary);
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font);
  line-height: 1.7;
  margin: 0;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

footer {
    margin: 70px 0px 42px;
    border-top: 2px solid var(--color-bor);
}

.info {
    text-align: left;
}

.badges {
    border-top: 2px solid var(--color-bor);
    margin: 32px 0 0;
    /* display: flex; */
}

.square-badge {
    margin: 42px 0 0;
    height: 34px;
    width: 34px;
}

.rec-badge {
    margin: 42px 0 0;
    height: 34px;
    width: 88px;
}

header {
    font-size: 1.20rem;
}

#navigation {
    margin: 0 0 42px
}

@media (max-width: 500px) {
    ul.navigation {
        -moz-column-count:2;
        column-count: 2
    }
}

@media (min-width: 500px) {
    ul.navigation {
        -moz-column-count:3;
        column-count: 3
    }
}

@media (min-width: 700px) {
    ul.navigation {
        -moz-column-count:4;
        column-count: 4
    }
}

nav.navigation>ul.navigation>li {
    display: block;
    margin-bottom: 4px
}

nav.navigation>ul.navigation>li>a {
    display: block;
    font-size: 1.9rem;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.site-head {
    align-items: center;
    border-bottom: 2px solid var(--color-bor);
    display: block;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 70px;
}

.site-head a {
    display: inline-block;
    unicode-bidi: isolate;
}

.logo-container:hover {
    background-color: transparent;
}

/* .logo { */
/*   border-bottom: none; */
/*   margin-left: -12px; */
/*   width: 82px; */
/*   height: 82px; */
/*   animation: glitch-5 */
/* } */
/**/
.site-head a.active {
    background-color: var(--color-a);
    border-color: transparent;
    color: var(--color-bg);
}

.site-head ul {
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 42px;
}

ul {
    list-style-type: square;
}

b {
  background-color: var(--color-a);
  color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin-top: 24px;
  margin-bottom: 16px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4,
h5 {
  font-size: 1.2em;
}

h6 {
    font-size: 0.8em;
}

a {
  color: var(--color-a);
  border-bottom: 2px solid var(--color-a);
  text-decoration: none;
}

a:hover {
  background-color: var(--color-a);
  border-color: transparent;
  color: var(--color-bg);
}

code {
  background-color: var(--color-code);
  border-radius: var(--radius);
  color: var(--color-a);
  padding: 0.4em 0.6em;
  font-family: var(--font);
}

pre code {
  padding: 0;
}

pre {
  border-radius: var(--radius);
  padding: 1em;
  overflow: auto;
}

blockquote {
  color: var(--color-a);
  background-color: var(--color-code);
  border-left: 4px solid var(--color-a);
  padding-left: 2em;
  margin-left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  /* border-radius: 6px; */
  /* border: 3px solid #3c3c42; */
  /* box-shadow: 3px 3px 6px #000; */
}

.post-content-title:after {
    animation: blink-animation .9s infinite;
    content: "█";
    color: var(--color-primary);
    padding-left: 2px;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.logo-container {
  border-bottom: none;
  margin-left: -12px;
  display: block;
  width: 82px;
  height: 82px;
  position: relative;
}

.strip {
  overflow: hidden;
  position: relative;
  background-image: url('/images/favicon.png');
  background-size: 82px 82px;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 100%;
}

@keyframes glitch-5 {
  0.00%,
  33.33%,
  43.33%,
  66.67%,
  76.67%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  43.23% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(0px -4px 0 rgb(0 0 255 / 0.1));
  }

  66.77%,
  76.57% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(-1px 0px 0 rgb(255 0 0 / 0.1));
  }
}

@keyframes glitch-6 {
  0.00%,
  33.33%,
  41.67%,
  66.67%,
  75.00%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  41.57% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(-2px 3px 0 rgb(255 0 0 / 0.1));
  }

  66.77%,
  74.90% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(-3px -2px 0 rgb(0 0 255 / 0.1));
  }
}

@keyframes glitch-7 {
  0.00%,
  33.33%,
  40.48%,
  66.67%,
  73.81%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  40.38% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(0px -3px 0 rgb(0 0 255 / 0.1));
  }

  66.77%,
  73.71% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(4px 1px 0 rgb(255 0 0 / 0.1));
  }
}

@keyframes glitch-8 {
  0.00%,
  33.33%,
  39.58%,
  66.67%,
  72.92%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  39.48% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(-1px -1px 0 rgb(0 0 255 / 0.1));
  }

  66.77%,
  72.82% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(3px -1px 0 rgb(0 0 255 / 0.1));
  }
}

@keyframes glitch-9 {
  0.00%,
  33.33%,
  38.89%,
  66.67%,
  72.22%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  38.79% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(1px -3px 0 rgb(255 0 0 / 0.1));
  }

  66.77%,
  72.12% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(1px 1px 0 rgb(255 0 0 / 0.1));
  }
}

@keyframes glitch-10 {
  0.00%,
  33.33%,
  38.33%,
  66.67%,
  71.67%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  38.23% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(3px -1px 0 rgb(255 0 0 / 0.1));
  }

  66.77%,
  71.57% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(-3px 2px 0 rgb(255 0 0 / 0.1));
  }
}
