.posts {
    display: block;
}

.posts ul {
    list-style-type: none;
    padding-left: 0;
}

.posts li {
    margin-bottom: 20px;
}

.posts a {
    font-size: 1.4rem;
    border-bottom: 2px solid var(--color-a);
}

.postfoot {
    margin-top: 42px;
    padding-top: 21px;
    border-top: 2px solid var(--color-bor);
}

.blocky {
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-bor);
    border-bottom: 2px solid var(--color-bor);
    margin: 40px 0;
    padding: 8px;
}

.bigcode {
    font-family: var(--font-code);
    margin: 40px 0;
    padding: 7px 8px 4px 8px;
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-bigcode);
    border-bottom: 2px solid var(--color-bigcode);
    background-color: var(--color-bigcode);
    overflow-x: auto;
    white-space: pre;
}
