#navigation {
    margin: 0 0 42px
}

@media (max-width: 500px) {
    ul.navigation {
        -moz-column-count:2;
        column-count: 2
    }
}

@media (min-width: 500px) {
    ul.navigation {
        -moz-column-count:3;
        column-count: 3
    }
}

@media (min-width: 700px) {
    ul.navigation {
        -moz-column-count:4;
        column-count: 4
    }
}

.site-head {
    align-items: center;
    border-bottom: 2px solid var(--color-bor);
    display: block;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 70px;
}

.site-head a {
    display: inline-block;
    unicode-bidi: isolate;
}

.site-head a.active {
    background-color: var(--color-a);
    border-color: transparent;
    color: var(--color-bg);
}

.site-head ul {
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 42px;
}

/* LOGO */

.logo-container {
  border-bottom: none;
  margin-left: -12px;
  display: block;
  height: 82px;
  width: 82px;
  position: relative;
}

.logo-container:hover {
    background-color: transparent;
}
