@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #333333;
        --color-a: var(--color-primary);
        --color-code: var(--color-primary);
        --color-bg: #f7f3e9;
        --color-bor: #b8b8b8;
        --color-bigcode: #d3d3d3;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #cdd6f4;
        --color-a: var(--color-primary);
        --color-code: var(--color-primary);
        --color-bg: #1a1b26;
        --color-bor: #3b4261;
        --color-bigcode: #0f0f17;
    }
}

/* GENERAL VARIABLES */

:root {
    --font: "JetbrainsMono Nerd Font", "Hack Nerd Font", "SF Mono", 
            "Monaco", "Cascadia Code", "Roboto Mono", "Fira Code", 
            "Source Code Pro", "Consolas", "Menlo", "DejaVu Sans Mono", 
            "Ubuntu Mono", "Courier New", monospace;
    --font-code: "TX-02",monospace;
    --radius: 4px;
    --logo: url('/images/favicon.png');
    --font-light: 200;
    --font-normal: 400;
    --font-bold: 600;
    --font-heavy: 700;
}
